/*!
 * Author: Yuhang
 */

.basemap {
    fill: #eee;
    stroke: #444;
    stroke-width: .5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: all;
}

.overlay {
    fill: none;
    pointer-events: all;
}


.flow_depature {
    stroke: #46b39d;
    fill : none;
    stroke-width: .2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    opacity: 0.8;
    pointer-events: all;
}
.flow_arrival {
    stroke: #c3a130;
    fill : none;
    stroke-width: .2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    opacity: 0.8;
    pointer-events: all;
}

.flow_depature_gone {
    fill : none;
    stroke-width: .2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    opacity: 0;
    pointer-events: all;
}

.flow_arrival_gone {
    fill : none;
    stroke-width: .2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    opacity: 0;
    pointer-events: all;
}


.bar_depature{
    fill: #46b39d;
}

.bar_arrival{
    fill: #c3a130;
}

.label{
    fill: #8a8c8d;
    stroke-width: .1px;
    text-anchor: middle;
    opacity: 0.65;
}

.label_legend{
    stroke-width: .1px;
    text-anchor: middle;
    opacity: 0.65;
}

.label_temp{
    fill: #000000;
    stroke-width: .1px;
    text-anchor: middle;
    opacity: 0.65;
}